@{
    ViewData["Title"] = "Časté dotazy";
}

<div class="landing">

    <img class="bannerImg " src="~/images/yeti.jpg">
    <h1 class="mainText text-center faqText">Časté &nbsp;dotazy</h1>

    <a href="#faq_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="faq_content">

    @{

        foreach (var question in Model)
        {
                <div class="bothBox hidden">

                    <div class="questionBox">
                        <h3 class="mb-0">#@question.QuestionQ</h3>
                    </div>

                    
                    <div class="answerBox">
                        <h5 class="mb-0">@question.AnswerQ</h5>
                    </div>

                </div>
        }
    }

</div>
