@{
    ViewData["Title"] = "Domů";
}

<div class="landing">

    <img class="bannerImg " src="~/images/nature.jpg">
    <h1 class="mainText" class="text-center">Kufřík</h1>

    <a href="#home_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div class="allPreviews">
    @foreach (var post in Model)
    {
        <div class="postPreview">
            <h2>@post.Title</h2>
            <p>@(post.Subtitle.Length > 50 ? post.Subtitle.Substring(0, 50) + "..." : post.Subtitle)</p>
            <a asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">View Full Post</a>
        </div>
    }




