<!DOCTYPE html>
<html>
<head>
    <title>Full Post View</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div>
        <h2>@Model.Title</h2>
        <p>@Model.Content</p>
    </div>
</body>
</html>

