@{
    ViewData["Title"] = "Často kladené dotazy";
}

<div class="landing">

    <img class="bannerImg " src="~/images/yeti.jpg">
    <h1 class="mainText" class="text-center">Často kladené dotazy</h1>

    <a href="#faq_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="faq_content">

    @{
        int loopcounter = 0;
        foreach (var question in Model) {

            if (loopcounter % 2 == 0)
            {
                <div class="bothBox">

                    <div class="questionBox">
                        <h3>@question.QuestionQ</h3>
                    </div>

                    <div class="questionBox">
                        <h3>Jak zjistím veškeré podrobné info o daném zájezdu?</h3>
                    </div>
                    <div class="answerBox">
                        <h5>Veškeré podrobné info je dostupné v .pdf souboru, který je dostupný po zaplacení první zálohy.</h5>
                    </div>

                </div>
            }

            else
            {
                <div class="bothBox">

                    <div class="questionBox">
                        <h3>Do kdy můžu zrušit svou rezervaci na zájezd?</h3>
                    </div>
                    <div class="answerBox">
                        <h5>Rezervaci je možné bezplatně zrušit do zaplacení první zálohy.</h5>
                    </div>

                </div>
            }

        }

    }

</div>
