@{
    ViewData["Title"] = "Často kladené dotazy";
}

<div class="landing">

    <img class="bannerImg " src="~/images/yeti.jpg">
    <h1 class="mainText" class="text-center">Často kladené dotazy</h1>

    <a href="#faq_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="faq_content">

    @{
        Random randomint = new Random();
        int rndm;

        foreach (var question in Model)
        {
            rndm = randomint.Next(6, 15);


                <div class="bothBox" style="margin-left: @(rndm + "rem"); margin-bottom: 4rem;">

                    <div class="questionBox">
                        <h3>#@question.QuestionQ</h3>
                    </div>

                    
                    <div class="answerBox">
                        <h5>@question.AnswerQ</h5>
                    </div>

                </div>
        }
    }

</div>
