@{
    ViewData["Title"] = "Často kladené dotazy";
}

<div class="landing">

    <img class="bannerImg " src="~/images/yeti.jpg">
    <h1 class="mainText" class="text-center">Často kladené dotazy</h1>

    <a href="#faq_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="faq_content">
    <h1>Otázky:</h1>
</div>
