@{
    ViewData["Title"] = "Průvodce";
}

<div class="landing">

    <img class="bannerImg " src="~/images/cathedral.jpg">
    <h1 class="mainText" class="text-center">Průvodce</h1>

    <a href="#guide_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="guide_content">
    <h1>Země:</h1>
</div>