@{
    ViewData["Title"] = "Zájezdy";
}

<div class="landing">

    <img class="bannerImg " src="~/images/tropical.jpg">
    <h1 class="mainText" class="text-center">Zájezdy</h1>

    <a href="#tours_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="tours_content">

    @{

        foreach (var singleTrip in Model)
        {
            <div class="tripPreview">

                @if (singleTrip.ImageUrls != null && singleTrip.ImageUrls.Length != 0)
                {
                    <div class="tripImg" style="background-image: url('@singleTrip.ImageUrls[0]');"></div>
                }

                <div class="tripText">
                    <h1>@singleTrip.Country</h1>
                    <h6>@singleTrip.ShortDescription</h6>
                </div>

            </div>
        }

    }

</div>