@{
    ViewData["Title"] = "Zájezdy";
}

<div class="landing">

    <img class="bannerImg " src="~/images/tropical.jpg">
    <h1 class="mainText" class="text-center">Zájezdy</h1>

    <a href="#tours_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="tours_content">

    @{

        foreach (var singleTrip in Model)
        {
            <div class="tripPreview">
                <h4>@singleTrip.Country</h4>
                <h6>@singleTrip.ShortDescription</h6>
            </div>
        }


    }

</div>