@{
    ViewData["Title"] = "Zájezdy";
}

<div class="landing">

    <img class="bannerImg " src="~/images/tropical.jpg">
    <h1 class="mainText" class="text-center">Zájezdy</h1>

    <a href="#tours_content">
        <button class="mainButton" type="button">Více</button>
    </a>

</div>

<div id="tours_content">
    <h1>Zážitky z celého světa</h1>
</div>