<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kufřík</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/articles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/travel_co.styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/b025b7b1a2.js" crossorigin="anonymous"></script>

</head>
<body>
    <header id="fixed-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="images/suitcase.png" class="logo"></a>

            <div id="nav-items">
                <ul id="navul" class="navbar-nav flex-grow-1">
                    <li>
                        <a class="nav-link homeNav" asp-area="" asp-controller="Home" asp-action="Index">DOMŮ</a>
                    </li>
                    <li>
                        <a class="nav-link tripNav" asp-area="" asp-controller="Home" asp-action="Zajezdy">ZÁJEZDY</a>
                    </li>
                    <li>
                        <a class="nav-link guideNav" asp-area="" asp-controller="Home" asp-action="Pruvodce">PRŮVODCE</a>
                    </li>
                    <li>
                        <a class="nav-link faqNav" asp-area="" asp-controller="Home" asp-action="FandQ">ČASTÉ OTÁZKY</a>
                    </li>
                </ul>
            </div>

        </nav>
</header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="tFooter text-muted">
        <div class="container" style="font-size: 0.8rem; display: flex;">
            <a>Copyright &copy; 2023 Kufřík Inc. Všechna práva vyhrazena.</a> <a style="margin: 0 0 0 auto;" asp-area="" asp-controller="Info" asp-action="InformationCentre">Rozcestník informací</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

