@{
    ViewData["Title"] = "Země";
}

<div class="postContainer">
    <div class="tripPostImg" style="background-image: url('@Model.ImageUrls[0]');"></div>
    <h1 class="postTextH postTitle">@Model.Name</h1>
    <h4 class="postTextH postSubtitle">@Model.CountryCurrency</h4>
</div>

<div>
    <a>@Model.Capital</a>
</div>

