@{
    ViewData["Title"] = "Článek";
}

<div class="postContainer">
    <img class="postImg" src="~/images/postBanner.png">
    <h1 class="postTextH postTitle">@Model.Title</h1>
    <h4 class="postTextH postSubtitle">@Model.Subtitle</h4>

</div>

<div>
    <a>@Model.Content</a>
</div>

