@{
    ViewData["Title"] = "Článek";
}

<div class="postContainer">
    <div class="postImg" style="background-image: url('@Model.ImageUrls[0]');"></div>
    <h1 class="postTextH postTitle">@Model.Title</h1>
    <h4 class="postTextH postSubtitle">@Model.Subtitle</h4>
</div>

<div>
    <a>@Model.Content</a>
</div>

