@{
    ViewData["Title"] = "Reklamační řád";
}

<div class="landing">

    <div class="mainBanner" style="background-image: url('/images/complaint.jpg'); background-position: center bottom 48%;">

        <h1 class="mainText text-center">Reklamační řád</h1>

        <a href="#info_content">
            <button class="mainButton" type="button">Více</button>
        </a>

    </div>

</div>

<div id="info_content">
            
    <div class="complaintDiv">

        <h2 class="complaintMainTitle">Reklamační řád cestovní kanceláře Kufřík</h2>

        <h4 class="complaintTitle">1. Úvodní ustanovení</h4>
        <p class="complaintMessage">Tento reklamační řád (dále jen "Řád") upravuje postupy pro řešení reklamací klientů cestovní kanceláře Kufřík. CK se zavazuje, že v souladu s platnými právními normami a etickými standardy bude efektivně, spravedlivě a transparentně řešit veškeré reklamace.</p>

        <h4 class="complaintTitle">2. Definice pojmu reklamace</h4>
        <p class="complaintMessage">Reklamace je považována za písemnou žádost klienta o uplatnění záruky, náhrady škody, opravy či jiného nároku souvisejícího s poskytnutými službami CK.</p>

        <h4 class="complaintTitle">3. Způsob podání reklamace</h4>
        <p class="complaintMessage">Klient je povinen reklamaci podat písemně prostřednictvím e-mailu na adresu reklamace@ck-kufrik.cz nebo doporučeným dopisem na adresu sídla CK. Reklamace by měla obsahovat detailní popis problému, jméno klienta, kontaktní údaje a případně doklady podporující reklamaci (fotografie, faktury apod.).</p>

        <h4 class="complaintTitle">4. Časový limit pro podání reklamace</h4>
        <p class="complaintMessage">Reklamaci je nutné podat co nejdříve po zjištění problému, nejpozději však do 14 dnů od skončení poskytovaných služeb CK.</p>

        <h4 class="complaintTitle">5. Řešení reklamace</h4>
        <p class="complaintMessage">CK se zavazuje k okamžitému zahájení řešení reklamace. Během 30 dnů od obdržení reklamace bude CK klienta informovat o postupu řešení. V případě, že by bylo nutné pro vyřešení reklamace získat dodatečné informace, může se lhůta pro řešení prodloužit, ovšem o tuto skutečnost bude klient včas informován.</p>

        <h4 class="complaintTitle">6. Možnosti řešení reklamace</h4>
        <p class="complaintMessage">
            a) Záruka na služby: CK poskytuje záruku na své služby v souladu s platnými zákony. Klient bude informován o podmínkách a rozsahu této záruky.<br>
            b) Náhrada škody: V případě prokázaného zavinění CK, které způsobilo klientovi škodu, bude náhrada škody vyřízena v souladu s platnými právními předpisy.<br>
            c) Oprava či náhrada: CK může nabídnout klientovi možnost opravy nebo náhrady služeb, pokud je to technicky proveditelné a odpovídá charakteru reklamace.
        </p>

        <h4 class="complaintTitle">7. Odvolání proti rozhodnutí CK</h4>
        <p class="complaintMessage">Pokud klient nesouhlasí s vyřízením reklamace ze strany CK, má právo se odvolat a požádat o přezkoumání svého nároku. V takovém případě může kontaktovat CK písemně nebo e-mailem a uvést důvody svého nesouhlasu.</p>

        <h4 class="complaintTitle">8. Uplatnění nároku u soudu</h4>
        <p class="complaintMessage">V případě, že nedojde ke shodě mezi CK a klientem ohledně vyřízení reklamace, má klient právo uplatnit svůj nárok u příslušného soudu.</p>

        <h4 class="complaintTitle">9. Účinnost řádu</h4>
        <p class="complaintMessage">Tento reklamační řád je účinný od [datum účinnosti] a nahrazuje veškerá předchozí ustanovení týkající se reklamací.</p>

        <h4 class="complaintTitle">Kontakt na reklamace</h4>
        <p class="complaintMessage">
            E-mail: reklamace@ck-kufrik.cz<br>
            Adresa: [Adresa sídla CK]
        </p>
    </div>

</div>
