@{
    ViewData["Title"] = "Rozcestník informací";
}

<div class="landing">

    <div class="landingWrapper">

        <div class="mainBanner" style="background-image: url('/images/infoBanner.png');"></div>

        <div class="landingText">

            <h1 class="mainText text-center">Rozcestník</h1>

            <a href="#info_content">
                <button class="mainButton" type="button">Více</button>
            </a>

        </div>

    </div>

</div>

<div id="info_content">

    <h3><a class="infoLink" asp-area="" asp-controller="Info" asp-action="Contact">Kontakt</a></h3>

    <h3><a class="infoLink" asp-area="" asp-controller="Info" asp-action="About">O nás</a></h3>

    <h3><a class="infoLink" asp-area="" asp-controller="Info" asp-action="Complaints">Reklamační řád</a></h3>

</div>
