
.postTextH {
    color: white;
    position: absolute;
    left: 10%;
    text-shadow: 3px 3px 8px black;
}


/* ------- GUIDE COUNTRY POST -------- */

.countryLanding {
    color: white;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    width: 100%;
    height: 100vh;
}

.countryBannerImg {
    width: 80%;
    height: 45%;
    margin: auto;
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.countryTitle {
    font-family: 'Le Petit Cochon', sans-serif;
    font-size: 500%;
    margin: 0;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
}

.upperInfo {
    display: flex;
    height: fit-content;
}

.countryDescription {
    width: calc(55% - 2rem);
    color: black;
    margin: 1rem;
    margin-right: 10%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.countryInfo {
    margin: 1rem;
    margin-left: 10%;
    width: 25%;
    background-color: #2b2b2b;
    border-radius: 1rem;
    padding: 1rem;
}
