/* SHORTCUTS */
:root {
    --platinum: #e4e2dd;
    --lion: #be9676;
    --raw-umber: #946b45;
    --jet: #2b2b2b;
    --browngrad: linear-gradient( to right, var(--raw-umber), var(--jet) );
}



html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Le Petit Cochon';
    src: url('/lib/fonts/Petit_Cochon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 1100px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: var(--jet);
    background-color: var(--platinum);
}

.navbar-brand {
    margin: 0;
    padding: 0;
    padding-left: 3%;
}

.logo {
    width: 3rem;
    transition: all 0.5s;
}

    .logo:hover {
        transform: scale(1.1) rotate(15deg);
    }


header {
    position: absolute;
    background-color: rgba(228, 226, 221, 0.9);
    width: 100%;
    z-index: 1;
}

.fixed {
    position: fixed;
    animation: slideDown 0.7s ease forwards;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s, transform 2s, box-shadow 2s;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

#nav-items {
    color: var(--jet);
    width: 38%;
    margin-right: 10%;
    margin-left: auto;
    font-weight: bold;
}

#navul {
    display: flex;
    justify-content: space-between;
}




.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

.landingWrapper {
    position: absolute;
    width: 80%;
    height: 80vh;
    margin: 10%;
    margin-bottom: 5%;
    display: flex;
}

.mainBanner {
    background-position: left center;
    width: 80%;
    height: 80vh;
    border-radius: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landingText {
    position: absolute;
    top: 25%;
    transform: translateY(-25%);
    right: 10%;
    text-align: center;
}

.mainText {
    color: var(--jet);
    font-family: 'Le Petit Cochon', sans-serif;
    font-size: 1300%;
    margin: 0;
    transition: all 0.5s;
}

    .mainText:hover {
        cursor: cell;
        transform: rotate(8deg);
    }

.mainButton {
    color: var(--raw-umber);
    width: 6rem;
    font-size: 1.6rem;
    background-color: var(--platinum);
    border: 2px solid var(--jet);
    border-radius: 0.8rem;
    margin-top: 1rem;
    transition: all 0.5s;
}

    .mainButton:hover {
        cursor: cell;
        color: var(--lion);
        background-color: var(--platinum);
        transform: rotate(8deg);
    }

@media (max-width: 1099px) {
    .mainText {
        font-size: 550%;
    }
}

.topicH {
    font-size: 4rem;
    margin: auto;
    font-weight: bold;
}

.postTitle {
    top: 20%;
}

.postSubtitle {
    top: 25%;
}

#home_content {
    min-height: 100vh;
}

.allPreviews {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.postPreview {
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 18rem;
    margin-top: 2rem;
    background-color: #2b2b2b;
    border-radius: 1rem;
}

.postText {
    flex: 1;
}

.postImg {
    width: 100%;
    flex: 1;
    height: 18rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.readMoreButton {
    color: darkgray;
    text-decoration: none;
}
    .readMoreButton:hover {
        color: lightgray;
    }

#home_content, #faq_content {
    justify-content: center;
}

#faq_content {
    padding: 4rem;
}

#faq_content {
    min-height: 100vh;
}

.bothBox {
    border: 3px solid black;
    width: 80%;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 4rem;
}

    .bothBox:hover {
        transform: scale(1.1);
        box-shadow: 0.4rem 0.4rem black;
        transition: transform 0.5s, box-shadow 0.5s;
    }

.questionBox {
    background-color: whitesmoke;
    color: black;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
}

.answerBox {
    padding: 1rem;
}

/* ------------------- */
/* TRIP CONTENT */

#tours_content {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media (min-width: 1100px) {
    #tours_content {
        display: flex;
    }
}


.tripPreview {
    text-decoration: none;
    color: white;
    width: 40%;
    background-color: #2b2b2b;
    border-radius: 1rem;
    margin: 4rem;
    padding: 4rem;
    text-align: center;
    box-shadow: 0.2rem 0.2rem black;
    transition: transform 0.5s, box-shadow 0.5s;
}

    .tripPreview:hover {
        color: white;
        transform: scale(1.1);
        box-shadow: 0.8rem 0.8rem black;
    }

@media (max-width: 1099px) {

    .tripPreview {
        width: 70%;
        margin: auto;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.tripImg {
    margin: 1rem;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.tripProperties {
    margin-top: 2rem;
    display: flex;
    color: #e4e2dd;
}

.tripDate {
    flex: 1;
    text-align: start;
}

.tripPrice {
    flex: 1;
    text-align: end;
}

.allPreviewsTrips {
    width: 200%;
    padding-right: 4rem;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    transition: transform 0.5s;
}

    .arrow:hover {
        transform: scale(1.5);
    }


.left {
    margin-right: 10px;
}

.right {
    margin-left: 10px;
}


/* ------------------- */
/* GUIDE CONTENT */

#guide_content {
    min-height: 100vh;
}

.carouselWrapper {
    width: 100%;
    padding: 0 1rem 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.carouselWrapper .tripsCarousel {
    padding: 0 2rem 2rem 2rem;
    margin: 0;
    width: 95%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4));
    gap: 1rem;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}

.tripsCarousel :where(.countryPreview, .guideImg) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tripsCarousel .countryPreview {
    height: 25rem;
    width: 85%;
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s;
    scroll-snap-align: center;
}

    .tripsCarousel .countryPreview:hover {
        transform: scale(1.1);
    }

.countryPreview .guideImg {
    background: var(--jet);
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
}

.countryPreview .guideImg img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 50%;
}

.carouselName {
    font-family: 'Le Petit Cochon', sans-serif;
    font-size: 4rem;
    width: fit-content;
    margin-left: 7rem;
    margin-bottom: 0;
    color: var(--jet);
    /*background: var(--browngrad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

.countryPreview h2 {
    color: var(--jet);
    font-size: 2rem;
}

@media (max-width: 1280px) {
    .carouselWrapper .tripsCarousel {
        grid-auto-columns: calc((100% / 3));
    }
}

@media (max-width: 900px) {
    .carouselWrapper .tripsCarousel {
        grid-auto-columns: calc((100% / 2));
    }
}

@media (max-width: 670px) {
    .carouselWrapper .tripsCarousel {
        grid-auto-columns: 100%;
    }
}

/* --------- Complaints ---------- */

.complaintDiv {
    margin: auto;
    margin-bottom: 4rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 1.6rem;
    width: 80%;
}

.complaintMainTitle {
    color: #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.complaintTitle {
    color: #2b2b2b;
    margin-top: 20px;
}

.complaintMessage {
    color: #2b2b2b;
    margin-top: 10px;
}

/* ----------------------------- */
.tripPostImg, .articlePostImg {
    height: 50vh;
    width: 100%;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* -------- footer ----------- */

.tFooter {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 3rem;
}

/* -------- info ----------- */

#info_content {
    min-height: 100vh;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#info_content h3 {
    width: fit-content;
    margin: auto;
}

.infoLink {
    font-family: 'Le Petit Cochon', sans-serif;
    font-size: 7rem;
    background: var(--browngrad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}