html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: black;
    background-color: white;
    margin-bottom: 60px;
}

header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 1;
}

.fixed {
    position: fixed;
    animation: slideDown 0.7s ease forwards;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

#nav-items {
    width: 38%;
    margin-right: 15%;
}

.navbar-brand {
    padding-left: 20px;
}

#navul {
    display: flex;
    justify-content: space-between;
}




.landing {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.bannerImg {
    max-height: 80%;
    width: 70%;
    border-radius: 1rem;
}

.postImg {
    width: 100%;
}

.mainText, .mainButton {
    width: 80%;
    position: absolute;
    text-align: center;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainText {
    font-size: 8rem;
}

.topicH {
    font-size: 4rem;
    margin: auto;
}

.postTextH {
    color: white;   
    position: absolute;
    left: 10%;
    text-shadow: 3px 3px 8px black;
}

.postTitle {
    top: 20%;
}

.postSubtitle {
    top: 25%;
}

.mainButton {
    color: white;
    width: 100px;
    font-size: 25px;
    margin-top: 100px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
}

.mainButton:hover {
    transition-duration: 0.4s;
    cursor: grab;
    color: lightgrey;
    background-color: white;
}


.allPreviews {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.postPreview {
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 42vh;
    padding: 1rem;
    background-color: #444444;
}

.postText {
    flex: 1;
}

.postImg {
    flex: 1;
    height: 38.7vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.readMoreButton {
    color: darkgray;
    text-decoration: none;
}
    .readMoreButton:hover {
        color: lightgray;
    }

#home_content, #tours_content, #guide_content, #faq_content {
    height: 100vh;
    justify-content: center;
}

#tours_content {
    display: flex;
}

#faq_content {
    padding-top: 4rem;
    
}

.bothBox {
    border: 3px solid black;
    width: 80%;
    height: 20%;
    border-radius: 1rem;
}

.questionBox {
    height: 5rem;
    background-color: whitesmoke;
    color: black;
    padding-top: 1.5rem;
    padding-left: 2rem;
    border-radius: 1rem 1rem 0 0;
}

.answerBox {
    padding-top: 1rem;
    padding-left: 2rem;
}

.tripPreview {
    color: white;
    width: 40%;
    height: 70vh;
    background-color: #444444;
    border-radius: 1rem;
    margin: 4rem;
    padding: 4rem;
    text-align: center;
    box-shadow: 0.2rem 0.2rem black;
    transition: transform 0.5s, box-shadow 0.5s;
}

    .tripPreview:hover {
        transform: scale(1.1);
        box-shadow: 0.8rem 0.8rem black;
    }

.tripImg {
    margin: 1rem;
    height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}